@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 560;
  font-style: normal;
}

body {
  background-color: #28282b;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.4fr 0.8fr;
}

banner {
  overflow: hidden;
  display: grid;
  grid-template-areas: "H";
}
banner img {
  grid-area: H;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
banner div {
  grid-area: H;
  width: 100%;
  padding: 16px;
}
banner div button {
  height: 40px;
  border-radius: 8px;
  background-color: #28282b;
  border: none;
  font-size: 16px;
  color: silver;
  transition: 0.2s;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  padding: 0px 8px;
  cursor: pointer;
  transition: 0.2s;
}
banner div button span {
  transition: 0.5s;
  display: none;
}
banner div button:hover {
  transition: 0.3s;
  color: white;
}
banner div button:hover span {
  transition: 0.2s;
  display: block;
}

a {
  text-decoration: none;
  color: #FFAA33;
}

main {
  background-color: white;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .tonel {
  width: 560px;
  padding: 16px 36px;
  display: grid;
  height: 572px;
  grid-template-rows: 0.4fr 1.6fr 0.4fr;
}
main .tonel .top {
  display: flex;
  align-items: center;
  font-size: 32px;
}
main .tonel .top span::after {
  content: "";
  background-color: #FFAA33;
  display: block;
  width: 64px;
  height: 5px;
  margin-top: 4px;
  border-radius: 4px;
}
main .tonel .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 20px 0px;
  padding-top: 28px;
}
main .tonel .middle .fieldInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main .tonel .middle .fieldInput input[type=text], main .tonel .middle .fieldInput input[type=password] {
  width: 440px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #e7e5e5;
  outline: none;
  padding: 0px 8px;
  color: rgb(48, 47, 61);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
main .tonel .middle .checkBox {
  align-self: flex-start;
  position: relative;
  right: -24px;
  display: grid;
  grid-template-areas: "H P";
  align-items: center;
  margin-top: 8px;
  gap: 4px;
}
main .tonel .middle .checkBox input[type=checkbox] {
  grid-area: H;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
main .tonel .middle .checkBox input[type=checkbox]:checked + label {
  background-color: #F4BB44;
  content: "✔";
}
main .tonel .middle .checkBox label {
  height: 20px;
  grid-area: H;
  content: "";
  border-radius: 4px;
  border: #28282b 2px solid;
}
main .tonel .middle .checkBox span {
  grid-area: P;
}
main .tonel .middle button {
  margin-top: 40px;
  margin-bottom: 12px;
  width: 80%;
  height: 40px;
  background-color: #FFAA33;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
main .tonel .middle .extra {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
main .tonel .middle .extra button {
  display: grid;
  place-items: center;
  min-width: 64px;
  color: #28282b;
  background-color: rgb(211, 209, 209);
  transition: 0.3s;
}
main .tonel .middle .extra button:hover {
  transition: 0.3s;
  background-color: #F4BB44;
  color: white;
}
main .tonel .bottom {
  display: grid;
  place-items: center;
  color: rgb(59, 55, 68);
  font-size: 12px;
}

@media (max-width: 1000px) {
  body {
    grid-template-areas: "H";
  }
  body banner {
    grid-area: H;
    z-index: 5;
  }
  body banner img {
    display: none;
  }
  body main {
    grid-area: H;
  }
  body main .tonel {
    height: 100vh;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */